In [1]:
import pandas as pd
schools_df=pd.read_csv(r"D:\MONASH Bootcamp\monu-mel-data-pt-08-2021-u-c\02-Homework\04-Pandas\Instructions\PyCitySchools\Resources\schools_complete.csv")
students_df=pd.read_csv(r"D:\MONASH Bootcamp\monu-mel-data-pt-08-2021-u-c\02-Homework\04-Pandas\Instructions\PyCitySchools\Resources\students_complete.csv")
schools_df=schools_df.dropna(how='any')

students_df=students_df.dropna(how='any')
students_df.count(),schools_df.count()
#Anlyze all the columns
schools_df.columns,students_df.columns

schools_df=schools_df.rename(columns={"School ID":"school_id"})
schools_df.head()

#Create a high level snapshot (in table form) of the district's key metrics, 
##rename student id
students_df=students_df.rename(columns={"Student ID":"student_id"})
students_df.head()
students_df["student_id"].value_counts()
students_df#unique values and all non numeric data also
merged_df=pd.merge(schools_df,students_df,on=["school_name"])
merged_df
#Clean Data
a=merged_df.count()
merged_df=merged_df.dropna(how='any')
b=merged_df.count()
a,b

(school_id        39170
 school_name      39170
 type             39170
 size             39170
 budget           39170
 student_id       39170
 student_name     39170
 gender           39170
 grade            39170
 reading_score    39170
 math_score       39170
 dtype: int64, school_id        39170
 school_name      39170
 type             39170
 size             39170
 budget           39170
 student_id       39170
 student_name     39170
 gender           39170
 grade            39170
 reading_score    39170
 math_score       39170
 dtype: int64)

In [2]:

#-------------------------------District Summary-------------------------------
#Total Schools
#Total Students
Total_Schools=merged_df["school_id"].nunique()
Total_Students=merged_df["student_id"].nunique()
#Total Budget
unique_Budget=merged_df["budget"].unique()
Total_Budget=unique_Budget.sum()

#Average Math Score
Average_Math_Score=round(merged_df["math_score"].mean(),)
#Average Reading Score
Average_Reading_Score=round(merged_df["reading_score"].mean(),)
#% Passing Math (The percentage of students that passed math.)
Pass_Math=merged_df.loc[merged_df["math_score"]>70,"math_score"].count()
total_scores=merged_df["math_score"].count()
Percent_Pass_Math=round(100*Pass_Math/total_scores,2)
# % Passing Reading (The percentage of students that passed reading.)
Pass_Reading=merged_df.loc[merged_df["reading_score"]>70,"reading_score"].count()
total_scores=merged_df["reading_score"].count()
Percent_Pass_Reading=round(100*Pass_Reading/total_scores,2)
#% Overall Passing (The percentage of students that passed math and reading.)
Pass_Both=merged_df.loc[(merged_df["reading_score"]>70)&(merged_df["math_score"]>70),"math_score"].count()
total_scores=merged_df["reading_score"].count()
Percent_Pass_Overall=round(100*Pass_Both/total_scores,2)
 
#Create a high level snapshot (in table form) of the district's key metrics, including:
snapshot_df=pd.DataFrame({"Average_Math_Score":[Average_Math_Score],
               "Average_Reading_Score":Average_Reading_Score,
               "Percent_Pass_Math":Percent_Pass_Math,
              "Percent_Pass_Reading":Percent_Pass_Reading,
               "Percent_Pass_Overall":Percent_Pass_Overall})
snapshot_df.head()

,Average_Math_Score,Average_Reading_Score,Percent_Pass_Math,Percent_Pass_Reading,Percent_Pass_Overall
0,79,82,72.39,82.97,60.8

In [3]:
#-------------------------------School Summary-------------------------------
#School Name
School_Name=merged_df["school_name"].unique()
#School Type
school_type = schools_df.set_index(["school_name"])["type"]
#Total Students
students_per_school=merged_df.groupby("school_name")["student_id"].count()
#Total School Budget
budget_per_school = merged_df.groupby(["school_name"])["budget"].mean()
budget_per_school.head()
len(budget_per_school)
#Per Student Budget
psb=budget_per_school/students_per_school
#Average Math Score
Average_Math_Score = round(merged_df.groupby(["school_name"])["math_score"].mean())
#Average Reading Score
Average_Read_Score = round(merged_df.groupby(["school_name"])["reading_score"].mean())
Average_Read_Score
PASS_PER_SCHOOL=merged_df.loc[merged_df["math_score"]>70,["student_name","school_name"]]
students_passed_in_schools=PASS_PER_SCHOOL.groupby("school_name")["student_name"].count()
#% Passing Math (The percentage of students that passed math.)
Percent_Pass_Math=(students_passed_in_schools/students_per_school)*100
##% Passing Reading (The percentage of students that passed reading.)
PASS_PER_SCHOOL=merged_df.loc[merged_df["reading_score"]>70,["student_name","school_name"]]
students_passed_reading_in_schools=PASS_PER_SCHOOL.groupby("school_name")["student_name"].count()
#% Passing Math (The percentage of students that passed math.)
Percent_Pass_Reading=(students_passed_reading_in_schools/students_per_school)*100
#% Overall Passing (The percentage of students that passed math and reading.)
PASS_PER_SCHOOL_both=merged_df.loc[(merged_df["reading_score"]>70)&(merged_df["math_score"]>70),["reading_score","math_score","school_name","student_name"]]
students_passed_both_in_schools=PASS_PER_SCHOOL_both.groupby("school_name")["student_name"].count()
#% Passing Math (The percentage of students that passed math.)
Percent_Pass=(students_passed_both_in_schools/students_per_school)*100
print(Percent_Pass)

school_name
Bailey High School       51.145498
Cabrera High School      84.015070
Figueroa High School     49.915226
Ford High School         51.296093
Griffin High School      83.651226
Hernandez High School    50.161812
Holden High School       84.074941
Huang High School        49.914296
Johnson High School      49.800462
Pena High School         84.823285
Rodriguez High School    49.437359
Shelton High School      83.191369
Thomas High School       84.281346
Wilson High School       84.888305
Wright High School       84.444444
dtype: float64

In [5]:
#-------------------------------School Summary-------------------------------
snapshot_df2=pd.DataFrame({
                         "School Type":school_type,
                                  "Total Students":students_per_school,
                                 "Total School Budget":budget_per_school,
                                  "Budget per student":psb,
                                 "Average Math Score":Average_Math_Score,
                                 "Average Reading Score":Average_Read_Score,
                                  "% Passing Math":Percent_Pass_Math,
                                  "% Passing Reading":students_passed_reading_in_schools,
                                  "Overall Passing Rate":Percent_Pass})
snapshot_df2.head()

,School Type,Total Students,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,4976,3124928,628.0,77.0,81.0,64.630225,3946,51.145498
Cabrera High School,Charter,1858,1081356,582.0,83.0,84.0,89.558665,1744,84.015070
Figueroa High School,District,2949,1884411,639.0,77.0,81.0,63.750424,2313,49.915226
Ford High School,District,2739,1763916,644.0,77.0,81.0,65.753925,2123,51.296093
Griffin High School,Charter,1468,917500,625.0,83.0,84.0,89.713896,1371,83.651226

In [6]:
#------------------------------Top Performing Schools (By % Overall Passing)--------------------------------
Top5Schools=snapshot_df2.sort_values(["Overall Passing Rate"],ascending=False).head()
Top5Schools
#------------------------------Weakest 5 Performing Schools (By % Overall Passing)--------------------------------
Bottom5Schools=snapshot_df2.sort_values(["Overall Passing Rate"],ascending=False).tail(5)
Bottom5Schools.sort_values(["Overall Passing Rate"],ascending=True)#Lowest at top
#-------------------------------avg_math_scores_grade by School-------------------------------
avg_math_scores_grade = round(merged_df.groupby(["grade"]).mean()["math_score"],2)
avg_math_scores_grade
#-------------------------------avg_reading_score_grade by School -------------------------------
avg_reading_score_grade = round(merged_df.groupby(["grade"]).mean()["reading_score"],2)
avg_reading_score_grade

grade
10th    81.87
11th    81.89
12th    81.82
9th     81.91
Name: reading_score, dtype: float64

In [7]:
#-------------------------------Scores by School Spending-------------------------------
#create bins in which data will be held
bins = [0, 585, 615, 645, 675]
names = ["<$585", "$585-615", "$615-645", "$645-675"]
snapshot_df3=snapshot_df2[["Average Math Score","Average Reading Score","% Passing Math","% Passing Reading" ,"Overall Passing Rate"]]
snapshot_df3["Spending Ranges (Per Student)"] = pd.cut(snapshot_df2["Budget per student"],bins,labels = names)
snapshot_df3

C:\Users\HUMA\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Spending Ranges (Per Student)
Bailey High School,77.0,81.0,64.630225,3946,51.145498,$615-645
Cabrera High School,83.0,84.0,89.558665,1744,84.015070,<$585
Figueroa High School,77.0,81.0,63.750424,2313,49.915226,$615-645
Ford High School,77.0,81.0,65.753925,2123,51.296093,$615-645
Griffin High School,83.0,84.0,89.713896,1371,83.651226,$615-645
Hernandez High School,77.0,81.0,64.746494,3624,50.161812,$645-675
Holden High School,84.0,84.0,90.632319,396,84.074941,<$585
Huang High School,77.0,81.0,63.318478,2299,49.914296,$645-675
Johnson High School,77.0,81.0,63.852132,3727,49.800462,$645-675
Pena High School,84.0,84.0,91.683992,887,84.823285,$585-615
Rodriguez High School,77.0,81.0,64.066017,3109,49.437359,$615-645
Shelton High School,83.0,84.0,89.892107,1631,83.191369,$585-615
Thomas High School,83.0,84.0,90.214067,1519,84.281346,$615-645
Wilson High School,83.0,84.0,90.932983,2129,84.888305,<$585
Wright High School,84.0,84.0,90.277778,1682,84.444444,<$585

In [8]:
#-------------------------------Scores by School Size-------------------------------
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
snapshot_df3["School Size"]=pd.cut(snapshot_df2["Total Students"],size_bins , labels=group_names)
snapshot_df3.head()

C:\Users\HUMA\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate,Spending Ranges (Per Student),School Size
Bailey High School,77.0,81.0,64.630225,3946,51.145498,$615-645,Large (2000-5000)
Cabrera High School,83.0,84.0,89.558665,1744,84.015070,<$585,Medium (1000-2000)
Figueroa High School,77.0,81.0,63.750424,2313,49.915226,$615-645,Large (2000-5000)
Ford High School,77.0,81.0,65.753925,2123,51.296093,$615-645,Large (2000-5000)
Griffin High School,83.0,84.0,89.713896,1371,83.651226,$615-645,Medium (1000-2000)

In [9]:
#-------------------------------Scores by School Type-------------------------------
snapshot_df4=snapshot_df2
snapshot_df4.groupby("School Type").mean()

,Total Students,Total School Budget,Budget per student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
School Type,,,,,,,,
Charter,1524.250000,9.126881e+05,599.500000,83.375,84.0,90.363226,1419.875000,84.171248
District,3853.714286,2.478275e+06,643.571429,77.000,81.0,64.302528,3020.142857,50.238678

In [10]:
print(snapshot_df4)

                      School Type  Total Students  Total School Budget  \
Bailey High School       District            4976              3124928
Cabrera High School       Charter            1858              1081356
Figueroa High School     District            2949              1884411
Ford High School         District            2739              1763916
Griffin High School       Charter            1468               917500
Hernandez High School    District            4635              3022020
Holden High School        Charter             427               248087
Huang High School        District            2917              1910635
Johnson High School      District            4761              3094650
Pena High School          Charter             962               585858
Rodriguez High School    District            3999              2547363
Shelton High School       Charter            1761              1056600
Thomas High School        Charter            1635              1043130
Wilson High School        Charter            2283              1319574
Wright High School        Charter            1800              1049400

                       Budget per student  Average Math Score  \
Bailey High School                  628.0                77.0
Cabrera High School                 582.0                83.0
Figueroa High School                639.0                77.0
Ford High School                    644.0                77.0
Griffin High School                 625.0                83.0
Hernandez High School               652.0                77.0
Holden High School                  581.0                84.0
Huang High School                   655.0                77.0
Johnson High School                 650.0                77.0
Pena High School                    609.0                84.0
Rodriguez High School               637.0                77.0
Shelton High School                 600.0                83.0
Thomas High School                  638.0                83.0
Wilson High School                  578.0                83.0
Wright High School                  583.0                84.0

                       Average Reading Score  % Passing Math  \
Bailey High School                      81.0       64.630225
Cabrera High School                     84.0       89.558665
Figueroa High School                    81.0       63.750424
Ford High School                        81.0       65.753925
Griffin High School                     84.0       89.713896
Hernandez High School                   81.0       64.746494
Holden High School                      84.0       90.632319
Huang High School                       81.0       63.318478
Johnson High School                     81.0       63.852132
Pena High School                        84.0       91.683992
Rodriguez High School                   81.0       64.066017
Shelton High School                     84.0       89.892107
Thomas High School                      84.0       90.214067
Wilson High School                      84.0       90.932983
Wright High School                      84.0       90.277778

                       % Passing Reading  Overall Passing Rate
Bailey High School                  3946             51.145498
Cabrera High School                 1744             84.015070
Figueroa High School                2313             49.915226
Ford High School                    2123             51.296093
Griffin High School                 1371             83.651226
Hernandez High School               3624             50.161812
Holden High School                   396             84.074941
Huang High School                   2299             49.914296
Johnson High School                 3727             49.800462
Pena High School                     887             84.823285
Rodriguez High School               3109             49.437359
Shelton High School                 1631             83.191369
Thomas High School                  1519             84.281346
Wilson High School                  2129             84.888305
Wright High School                  1682             84.444444